# Operation System folder and files
.DS_Store

# Python Enviorment
__pycache__
.venv
env
modules

# VSCode Add-On's
.history

# Build
build
dist
dupeGuru-reviewer*.spec

# Logs
logs/*.log

# App folders and files
results.dupeguru
TMP
